

<div class="login">
	<div class="img">
	<%= image_tag("BookStore3.jpg") %>
    </div>
    <% if flash[:alert] %>
	  <p id="notice"><%= flash[:alert] %></p>
    <% end %>
  <div class="box">
  <%= form_tag do %>
	<fieldset>
	  <legend>Please Log In</legend>
		<div class="infor">
		  <div class="la">
		  <label for="name">Name:</label>
		  </div>
		  <%= text_field_tag :name, params[:name] %>
		</div>

		<div class="infor">
			<div class="la">
		  <label for="password">Password:</label>
		  </div>
		  <%= password_field_tag :password, params[:password] %>
		</div>

		<div>
		  <%= submit_tag "Login" %>
		</div>
		</fieldset>
	<% end %>
	</div>
</div>


