<%= form_for(@comment) do |f| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
      <% @comment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "User: " + User.find(session[:user_id]).name  %><br />
  </div>
  <div class="field">
    <%= f.label "Product: " + Product.find(session[:product_id]).title  %><br />
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <div class ="content"><%= f.text_area :content %> </div>
  </div>
  <div class="field">
    <%= f.label :grades %><br />
    <%= f.select :grades, Comment::GRADES %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
