<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @user_name %>
</p>

<p>
  <b>Content:</b>
  <%= @comment.content %>
</p>

<p>
  <b>Product:</b>
  <%= @product_name %>
</p>

<p>
  <b>Grades:</b>
  <%= @comment.grades %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
