<h1>Editing categorynode</h1>
<%= form_for(@categorynode) do |f| %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label "Category Name" %><br />
    <%= f.select :category_id, @categories %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>