<h1>Listing category_nodes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Parent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @category_nodes.each do |category_node| %>
  <tr>
    <td><%= category_node.title %></td>
    <td><%= category_node.parent %></td>
    <td><%= link_to 'Show', category_node %></td>
    <td><%= link_to 'Edit', edit_category_node_path(category_node) %></td>
    <td><%= link_to 'Destroy', category_node, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Category node', new_category_node_path %>
