<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @category_node.title %>
</p>

<p>
  <b>Parent:</b>
  <%= @category_node.parent %>
</p>


<%= link_to 'Edit', edit_category_node_path(@category_node) %> |
<%= link_to 'Back', category_nodes_path %>
