<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @categorynode.title %>
</p>

<p>
  <b>Parent:</b>
  <%= @categorynode.parent %>
</p>


<%= link_to 'Edit', edit_categorynode_path(@categorynode) %> |
<%= link_to 'Back', categorynodes_path %>
