<h2>Listing orders</h2>

<table>
  <tr>
  	<th>Order id</th>
    <th>Name</th>
    <th>Address</th>
    <th>Email</th>
    <th>Pay type</th>
    <th>State</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
	<% if order.seller_id == session[:user_id] || order.customer_id == session[:user_id] %>
	  <tr>
	  	<td><%= order.id %></td>
	    <td><%= order.name %></td>
	    <td><%= order.address %></td>
	    <td><%= order.email %></td>
	    <td><%= order.pay_type %></td>
	    <td><%= order.state %></td>
	    <td><%= link_to 'Show', order %></td>
	    <td>
	    	<% if order.seller_id == session[:user_id] && order.state == "ordered" %>
	    		<%= button_to 'deliver goods', {:controller => "orders", :action => "ship", :id => order.id}%>
	    	<% end %>
	    </td>
	  </tr>
	<% end %>
<% end %>
</table>

<br />
<p><%= will_paginate @orders %></p>
