<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @order.name %>
</p>

<p>
  <b>Address:</b>
  <%= @order.address %>
</p>

<p>
  <b>Email:</b>
  <%= @order.email %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.pay_type %>
</p>

<p>
  <b>Seller's name:</b>
  <%= User.find(@order.seller_id).name %>
</p>

<p>
  <b>Pay type:</b>
  <%= @order.state %>
</p>

<p>
	<b>Products:</b>
	<% LineItem.where(:order_id => @order.id).each do |l| %>
		<%= render l %>
	<% end %>
</p>


<%= link_to 'Back', orders_path %>
