  <div class="side">
    <h4>Category</h4>
    <div id="my_menu" class="cate">
        <% @categories.each do |category| %>
        <div>
          <span> <%= category.title %> </span>
          <% @categorynodes.each do |categorynode| %>
            <% if categorynode.category_id == category.id  %>
              <%= link_to categorynode.title, {:controller => "categories", :action => "show_category" ,:cate => categorynode.title} %>    
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
  </div>

<% if notice %>
<h1 id="notice" ><%= notice %></h1>
<% end %>

<h3><%= @name %></h3>


<h1>Search</h1>
<% if @results == 0 %>
  <h4> Aha!! Can not find it!! Try another word! </h4>
  <% else %>

<% @results.each do |product| %>
  <div class="entry">
  	<%= image_tag(product.image_url) %>
  	<%= link_to product.title, {:controller => "products", :action => "detail" ,:id => product.id } %>
  	<%= sanitize(product.description) %>
  	<div class="price_line">
      <span class="price"><%= number_to_currency(product.price, :separator => '.', :delimiter => ',') %></span>
      <%= button_to t('.add_html'), line_items_path(:product_id => product),
  		:remote => true, :class => "btn_buy" %>
  	</div> 
  </div>

<% end %>
<% end %>

