<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>
<h2>Category</h2>
<table>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.title %></td>
      <td><%= link_to 'Show', category %></td>
      <td><%= link_to 'Edit', edit_category_path(category) %></td>
      <td><%= link_to 'Destroy', category, :confirm => 'Are you sure?', :method => :delete %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'New', new_category_path %>

