<p id="notice"><%= notice %></p>

  <table>
    <tr>
  	  <th><%= @category.title %></th>
  	</tr>
    <% @categorynodes.each do |categorynode| %>
      <% if categorynode.category_id == @category.id %>
      <tr>
      	<td>
          <%= categorynode.title %>
        </td>
        <td>
        	<%= link_to 'Edit', {:controller => "categorynodes",:action => "edit", :id => categorynode.id} %>
        </td>
        <td>
        	<%= link_to 'Destroy', categorynode, :confirm => 'Are you sure?', :method => :delete %>
        </td>
      </tr>
      <% end %>
    <% end %>
  </table>
</br>

<%= link_to 'New', {:controller => "categorynodes",:action => "new", :category_id => @category.id} %>
<%= link_to 'Back', categories_path %>