<div id="product">
  <h1>
  	<%= @product.title%>
  </h1>
  <%= image_tag( @product.image_url) %>
  <p>
    <b>Category:</b>
    <%= @product.categorynode_name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @product.description %>
  </p>


  <p>
    <b>Average Grade :</b>
    <%= @average %>
  </p>

  <p>
    <b>Seller:</b>
    <%= User.find(@product.seller_id).name %>
  </p>

  	<div class="entry">
        <div class="price_line" >
          <span class="price"><%= number_to_currency(@product.price, :separator => '.', :delimiter => ',') %></span>
          <%= button_to t('.add_html'), line_items_path(:product_id => @product),
            :remote => true, :class => "btn_buy", :onclick => "addToCart("+session[:user_id].to_s+")" %>
        </div>
    </div>

  <div class="list_comment">
    <p>
    <b>Comment(<%= @comments.size %>): </b>
    </p>
    <% @comments.each do |comment| %>
      <table class="each_comment">
        <tr>
        <th class="user">
          <b>User:</b>
          <%= User.find(comment.user_id).name %>
        </th>

        <th>
          <b>Grades:</b>
          <%= comment.grades %>
        </th> 

        <th>
          <b>Creat time:</b>
          <%= comment.created_at %>
        </th> 
        </tr>
        <tr>
        <td>
          <b>Content:</b>
          <%= comment.content %>
        </td>
        </tr>
     
     <%end%>
      </table>
      </div>
    
</div>

