<div id="product">
  <%= image_tag( @product.image_url) %>
  <p>
    <b>Title:</b>
    <%= @product.title %>
  </p>

  <p>
    <b>Category:</b>
    <%= @product.categorynode_name %>
  </p>

  <p>
    <b>Description:</b>
    <%= @product.description %>
  </p>

  <p>
    <b>Price:</b>
    <%= @product.price %>
  </p>

  <p>
    <b>Average Grade :</b>
    <%= @average %>

  </p>

  <div class="list_comment">
    <b>Comment(<%= @comments.size %>): </b>
    <% @comments.each do |comment| %>
      <div class="each_comment">
        <p>
          <b>User:</b>
          <%= User.find(comment.user_id).name %>
        </p>

        <p>
          <b>Content:</b>
          <%= comment.content %>
        </p>

        <p>
          <b>Grades:</b>
          <%= comment.grades %>
        </p>
      </div>
      <% end %>
  </div>

  
</div>

