	<% if line_item == @current_item %>
	<div id="current_item">
	<% else %>
	<div class="<%= cycle("odd line_item", "even line_item") %>">
	<% end %>
		<div class="line_item_img"><%= image_tag(line_item.product.image_url) %></div>
		<div class="line_item_title"><%= line_item.product.title %></div>
		<div class="line_item_number"><%= line_item.product.price %></div>
		<div class="line_item_number quantity">
			<% if line_item == @current_item %>
				<%= line_item.quantity %>
				
			<% else %>
				<% form_for line_item, :method => :put, :url => change_num_line_item_path(line_item) do |f| %>
					<%= f.number_field :quantity, :onchange => "auto_change_quantity("+line_item.id.to_s+")"%>
					<div><%= submit_tag "Place Order", :class => "autoChangeQuantity"%> </div> 
				<% end %>
			<% end %>
		</div>
		<div class="line_item_number total_price"><%= number_to_currency(line_item.total_price) %></div>
		<div class="line_item_number"><%= User.find(Product.find(line_item.product_id).seller_id).name %></div>
		<div class="line_item_number" onmouseover="show_del()" onmouseout="hide_del()"><%= link_to 'delete', line_item, :confirm => 'Are you sure?', :method => :delete %></div>
	</div>
