<%if line_item == @current_item %>
<div id="current_item" class="line_item">
<% else %>
<div class="line_item">
<% end %>
	<span class="line_item_title"><%= image_tag(line_item.product.image_url) %><%= line_item.product.title %></span>
	<span class="line_item_number"><%= line_item.product.price %></span>
	<span class="line_item_number"><%= line_item.quantity %></span>
	<span class="line_item_number"><%= number_to_currency(line_item.total_price) %></span>
</div>
	
