<% if line_item == @current_item %>
<div id="current_item">
<% else %>
<div class="<%= cycle("odd line_item", "even line_item") %>">
<% end %>
	<div class="line_item_img"><%= image_tag(line_item.product.image_url) %></div>
	<div class="line_item_title"><%= line_item.product.title %></div>
	<div class="line_item_number"><%= line_item.product.price %></div>
	<div class="line_item_number"><%= line_item.quantity %></div>
	<div class="line_item_number"><%= number_to_currency(line_item.total_price) %></div>
	<div class="line_item_number"><%= User.find(Product.find(line_item.product_id).seller_id).name %></div>
</div>
	
