<!--<div id="side">
  <!--Category-->
 <!-- <h4>Category</h4>
  <div class="cat">
    <% @categories.each do |category| %>
      <p>[<%= category.title %>]</p>
      <% @categorynodes.each do |categorynode| %>
        <% if categorynode.parent == category.title %>
          <a href> <%= categorynode.title %> </a> <br />
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>-->



  <div class="side">
    <h4>Category</h4>
    <div id="my_menu" class="cate">
        <% @categories.each do |category| %>
        <div>
          <span> <%= category.title %> </span>
          <% @categorynodes.each do |categorynode| %>
            <% if categorynode.parent == category.title %>
              <a href=""><%= categorynode.title %></a>
            <% end %>
          <% end %>
        </div>
        <% end %>
      </div>
  
  </div>


<% if notice %>
<p id="notice" ><%= notice %></p>
<% end %>

<h3><%= @name %></h3>



<h1><%= t('.title_html') %></h1>
<% @products.each do |product| %>
  <div class="entry" >
    <%= image_tag(product.image_url) %>
    <h3><%= product.title %></h3>
    <%= sanitize(product.description) %>

    <div class="price_line" >
      <span class="price"><%= number_to_currency(product.price, :separator => '.', :delimiter => ',') %></span>
      <%= button_to t('.add_html'), line_items_path(:product_id => product),
        :remote => true, :class => "btn_buy", :onclick => "addToCart("+session[:user_id].to_s+")" %>
    </div>
  </div>
<% end %>

